// Colors

$colors: (
    cyn: ( 
        400: rgb(133, 204, 255),
    ),
    grn: (
        300: rgb(191, 255, 198),
        400: rgb(163, 255, 174),
        500: rgb(114, 179, 122),
    ),
    rd: (
        400: rgb(239, 68, 68),
    ),
    orn: (
        400: rgb(255, 177, 86),
    ),
    neutral: (
        100: rgb(255,255,255),
        200: rgb(245,245,245),
        300: rgb(231, 230, 235),
        400: rgb(110, 124, 149),
        475:  rgba(128, 124, 146, .75),
        405: rgba(128, 124, 146, .2),
        500: rgb(35, 34, 42),
        600: rgb(25, 24, 32),
        700: rgb(15, 16, 20),
        800: rgb(0, 0, 0),
    )
);