// Type-scale for large and small screens

$type-scale: (
    small: (
        200: 0.9rem,    // 14.4px 
        300: 1rem,      // 16px
        400: 1.1875rem, // 19px
        500: 1.750rem,  // 28px
        600: 2.250rem,  // 36px
        700: 3rem,      // 48px
        800: 4rem,      // 64px
        900: 5rem       // 80px
    ),
    large: (
        200: 0.9rem,    // 14.4px
        300: 1rem,      // 16px 
        400: 1.425rem,  // 22.8px
        500: 2rem,      // 32px
        600: 2.828rem,  // 45.25px
        700: 4rem,      // 64px
        800: 5.625rem,  // 90px
        900: 7rem       // 112px
    )
);