@use "../utilities" as *;

html {
    overflow-x: hidden;
}

body {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-300);
    padding: 2rem;
}

.container {
    max-width: toRem(1170);
    margin: 0 auto;
}

hr {
    background-color: transparent;
    height: toRem(120);
}
  
#contentTaskWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(30);
}

img {
    pointer-events: none;
}