@use "../utilities" as *;

html {
    overflow-x: hidden;
}

body {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-300);
    padding: toRem(32);

    @include respond-to(medium) {
        padding: 0;
    }
}

.container {
    max-width: toRem(1170);
    margin: 0 auto;
}

hr {
    background-color: transparent;
    height: toRem(120);
}
  
#contentTaskWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(30);
}

img {
    pointer-events: none;
}

.icon-main {
    @include respond-to(extra-small) {
        display: none;
    }
}