@use "../utilities/" as *;

.main {
    margin-top: max(toRem(20), 5vh);
    padding: toRem(16);

    display: grid;
    grid-template-columns: minmax(toRem(220), 1fr) 3fr;
    
    background-color: var(--clr-neutral-500);
    box-shadow: var(--shw-light-bottom);

    @include respond-to(large) {
        grid-template-columns: 1fr;
        gap: toRem(32);
    }   

    @include respond-to(medium) {
        margin-top: 0;
    }
}